.bindPopup('<h3 class="mapPopup">Rating:' + business.rating + '</h3><img src="'+business.rating_img_url+'"><h3 class="mapPopup">Name: + business.name + '</h3><form method="post" action="/save"><button class="trigger">Save</button>')
					.addTo(map);


.bindPopup('<h3 class="mapPopup">Rating:' + business.rating + '</h3><img src="'+business.rating_img_url+'"><h3>Review Count:' + business.review_count + '</h3><form method="post" action="/save"><button class="trigger">Save</button>')
					.addTo(map);


	.bindPopup('<h3 class="mapPopup">Rating:' + business.rating + '</h3><img src="'+business.rating_img_url+'"><h3>Review Count:' + business.review_count + '</h3><form method="post" action="/save"><button class="trigger">Save</button>')
					.addTo(map);

	.bindPopup('<h3 class="mapPopup">' + business.name + ' + Rating:' + business.rating + '</h3><img src="'+business.rating_img_url+'"><br />Review Count:' + business.review_count + '<form method="post" action="/save"><button class="trigger">Save</button>')
					.addTo(map);

