<!DOCTYPE html>
<html>
<head>
	<title>Wine11</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
	<h1>Welcome</h1>
	<h2>Blah blah blah</h2>
	
</body>
</html>