<% include ../layouts/header.ejs %>
<body class="home_container">
	<div class="main_container">
		<div class="home_main_title_container">
			<h1>Wine11</h1>
			<h2>Welcome</h2>
		</div>
	</div>
</body>
</html>

<% include ../layouts/footer.ejs %>