body {
	/*background-image: url("http://www.conwayfamilywines.com/assets/images/img_vineyards.jpg");*/
	/*background-image: url("https://www.domainecarneros.com/assets/winemaking/organic_gallery/Organic-Carneros-Vineyard_Gallery1.jpg");*/
/*	background: no-repeat center center fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
	background-image: url("http://hdrwallpapers.com/wallpapers/winery_wallpaper-1440x900.jpg");
	
	background-image: no-repeat;
	position: fixed;
}

.body_login {
	/*background-image: url('');
	background-image: no-repeat;
	position: fixed;*/
	background: url(http://wallpaper.free-photograph.net/img/en/1152x864/jpeg/yun_8153.jpg) no-repeat center center fixed;
	background-size: cover;
}

.body_signup {
	background: url(http://1hdwallpapers.com/wallpapers/rustic_tuscany.jpg) no-repeat center center fixed;
	background-size: cover;
}

.body_map {
	background: url(https://lh5.googleusercontent.com/-bksHx8Ba-zU/UqYrodPWf7I/AAAAAAAAABQ/4UZ95XikNAY/w879-h666-no/vineyards-at-sunset-napa-valley-california-wallpaper.jpg) no-repeat center center fixed;
	background-size: cover;
}

h1 {
	color: white;
	text-align: center; 
	font-family: 'Dancing Script', cursive;
	font-size:	64px;
	font-weight: bold;

	
}

h2 {
	color: white;
	text-align: center;
}

h3 {
	color: white;
	text-align:	center;
}

.sign_up_container {
	text-align: center;
	padding: 10px;

}

.login_container {
	text-align: center;
	padding: 10px;
}

.search_container {
	text-align: center;
	padding: 10px;
}

.main_container {
	background-color: RGBA(34, 34, 34, .25);
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 100px;
	margin-bottom: 100px;
	height: 600px;
	width: 1000px;
	border-radius: 10px;
}