.home_container {
	background-image: url(../img/homepage.jpg);
	/*background-image: url('http://hdrwallpapers.com/wallpapers/winery_wallpaper-1440x900.jpg');*/
	
	background-image: no-repeat;
	position: fixed;
	height: 100%;
	width: 100%;
}

.body_login {
	background: url(../img/Barrels.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.body_signup {
	background: url(../img/tuscany.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.body_map {
	background: url(../img/sunset.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.results_container {
	background: url(../img/oakBarrels.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.userHomepage_container {
	/*background: url(http://www.dailyventure.com/media/user/travel/Sonoma-County-Winery-1280x1024.jpg) no-repeat center center fixed;
	background-size: cover;
	*/
		background: url(http://4.bp.blogspot.com/-akCDu0NrTVA/UfI4MUex1JI/AAAAAAAAK1Y/SRH4FFh5V5E/s1600/Shafer+Vineyards+2+-+Erik+Wait.JPG) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.mapPopup {
	color: black;
}

.leaflet_popup {
	min-width: 100px;
}
h1 {
	color: white;
	text-align: center; 
	font-family: 'Dancing Script', cursive;
	font-size:	64px;
	font-weight: bold;
}



h2 {
	color: white;
	text-align: center;
}

h3 {
	color: white;
	text-align:	center;
}

.sign_up_container {
	text-align: center;
	padding: 10px;
}

.login_container {
	text-align: center;
	padding: 10px;
}

.search_container {
	text-align: center;
	padding: 10px;
}

.main_container {
	background-color: RGBA(34, 34, 34, .25);
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 100px;
	margin-bottom: 100px;
	height: 600px;
	width: 1000px;
	border-radius: 10px;

}

.home_main_title_container {
		padding-top: 150px;
}

h1.home_main_title_container {
	font-size: 200px;
}






