<% include ../layouts/header.ejs %>
	<body class="body_login">
		<div class="main_container">
			<div class="login_container">
				<h3>Welcome back, please login</h3>
				<form method="post" action="/login">
				 <div>
				 	<input type="text" name="user[email]" placeholder="Email">
				 </div>
				 <div>
				 	<input type="password" name="user[pw]" placeholder="Password">
				 </div>
				 <button>Save</button>
				</form>
			</div>
		</div>
<% include ../layouts/footer.ejs %>