<% include ../layouts/header.ejs %>
<body class="body_map">
	<div class="main_container">
		<div class="search_container">
			<h3>Search</h3>
			<form action="/search" method="get">
				<div>
					<input type="text" name="loc" placeholder="Search by Location">
				</div>
				<button>Save</button>
			</form>
		</div>
	</div>
<% include ../layouts/footer.ejs %>