<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
	  Please sign up to your favorites
	  <form method="post" action="/users">
	  	<div>
	  		<input type="text" name="user[firstName]" placeholder="First Name">
	  	</div>
	  	<div>
	  		<input type="text" name="user[lastName]" placeholder="Last Name">
	  	</div>
	    <div>
	    	<input type="text" name="user[email]" placeholder="Email">
	    </div>
	  	<div>
	  		<input type="text" name="user[password" placeholder="Password">
	  	</div>
	  	<button>Save</button>
	  </form>
	</body>
</html>