<% include ../layouts/header.ejs %>
			<body class="body_signup">
				<div class="main_container">
					<div class="sign_up_container">
				  	<h3>Please sign up to your favorites</h3>
					  <form method="post" action="/sign_up">
					  	<!-- <div>
					  		<input type="text" name="user[firstName]" placeholder="First Name">
					  	</div>
					  	<div>
					  		<input type="text" name="user[lastName]" placeholder="Last Name">
					  	</div> -->
					    <div>
					    	<input type="text" name="user[email]" placeholder="Email">
					    </div>
					  	<div>
					  		<input type="password" name="user[pw]" placeholder="Password">
					  	</div>
					  	<button>Save</button>
					  </form>
				  </div>
			  </div>
			</body>
<% include ../layouts/footer.ejs %>
