<% include ../layouts/header.ejs %>
<body class="userHomepage_container">
	<div class="userHomepage_main_container">
		<!-- Welcome back! -->
		<h1>Favorite Wineries</h1>

				<% wineries.forEach(function(winery) { %>
				<div class="winery_container">
					<div class="winery_details">
					<a class=" winery_info" href="<%= winery.url %>">
					  <%= winery.name %>  <img src="<%= winery.rating_img_url %>">
					</a>
							<div>
								<h4><%= winery.location.display_address %></h4>
							</div>
				
						</div>
						<div>
							<button>Delete</button>
					</div>
				</div>
				<% }) %>
		
	</div>
<% include ../layouts/footer.ejs %>