<% include ../layouts/header.ejs %>
<body class="userHomepage_container">
	<div class="main_container">
		Welcome back!
		<h2>Favorite wineries</h2>

				<% wineries.forEach(function(winery) { %>
				<div>
				<a href="winery/<%= winery.yelp_id %>">
				  <%= wineries.yelp_id %>
				</a>
				</div>
				<% }) %>
		
	</div>
<% include ../layouts/footer.ejs %>